html {
  display: flex;
  justify-content: space-around;
  background: fixed linear-gradient(135deg, #140030, #000000);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02rem;
}

body {
  color: yellow;
  border: 0px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 60vh;
  box-shadow: 10px 10px 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

a {
  color: lightblue;
}

p {
  color: beige;
}

header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid rgba(255, 255, 255, 0.384) 1px;
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 0 5px;
}

.header-text {
  grid-column: 2;
  text-align: center;
}

.post-tag {
  color: mediumpurple;
}

.rss-link-wrapper {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  width: 23px;
}

.rss-icon {
  display: block;
  max-width: 100%;
}

article {
  height: 100%;
  padding-right: 5px;
}

section {
  background-color: #0c0c0c;
}

.date {
  color: cyan;
}

#terminal {
  height: 100%;
  padding: 5px;
  border: 1px rgba(255, 255, 255, 0.39) solid;
  border-top: 0px;
}

#terminal-vim-content {
  display: flex;
  flex-direction: column;
}

#terminal-vim-content p:first-child {
  margin-top: 0;
}

#terminal-vim-content p {
  margin-bottom: 0;
}

#terminal-vim-spacing {
  margin: 0;
}

#terminal-vim-footer p {
  margin: 0;
}

#terminal-vim-path {
  color: #0c0c0c;
  background-color: rgb(155, 155, 0);
}

@keyframes toggle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#cursor {
  animation: toggle 1.5s infinite;
}

@media (min-width: 750px) {
  .mobile-break {
    display: none;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 20px;
    line-height: 22px;
  }
  body {
    width: 100%;
    margin-top: 10px;
  }
  header {
    font-size: 22px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
  .rss-link-wrapper {
    width: 25px;
  }
}
